<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<title>Document</title>
	</head>
	<body>
		<div id="app" class="container col-6">
			<h3 class="text-center">Welcome To What-Eat-It</h3>

			<div v-for="(item, index) in shops" v-bind:key="index" class="list-group-item">
				<div class="row">
					<div class="col-md-8">
						{{ item }}
					</div>
					<div class="col-md-4 text-center">
						<button class="btn btn-danger" v-on:click="clickDelete(index)">ลบ</button>
					</div>
				</div>
			</div>

			<div class="row" style="margin-top: 1em">
				<div class="col-md-10">
					<input class="form-control" type="text" v-model="item" />
				</div>
				<div class="col-md-2 text-right">
					<button class="btn btn-info form-control" v-on:click="addMenu">Add</button>
				</div>
			</div>

			<div class="row" style="margin-top: 1em">
				<div class="col-md-10">
					<p>The result is {{ result }}</p>
				</div>
				<div class="col-md-2 text-right">
					<button class="btn btn-primary form-control" v-on:click="clickRand">Rand</button>
				</div>
			</div>
		</div>
	</body>

	<script>
		new Vue({
			el: "#app",
			methods: {
				addMenu() {
					if (this.item.trim().length > 0) {
						this.shops.push(this.item)
						this.item = ""
					}
				},
				clickDelete(index) {
					this.shops.splice(index, 1)
				},
				clickRand() {
					this.result = this.shops[Math.floor(Math.random() * this.shops.length)]
				}
			},
			data() {
				return {
					shops: ["BM", "ข้าวมันไก่หน้าซอย 14", "ข้าวมันไก่ลุงที่อยู่ไกลๆ", "ใต้คอนโด", "เย็นตาโฟ"],
					item: "",
					result: ""
				}
			}
		})
	</script>
</html>
